<div class="container">
    <div class="item" style="text-align:center;  line-height: 150%; font-size: 13px;">
        HeartRate
        <div class="heart" style="line-height: 90%;">{{HeartRate}}</div>
    </div>

    <div class="item" style="text-align:center;  line-height: 150%; font-size: 13px;">
        RespirationRate
        <div class="respiration" style="line-height: 90%;"> {{RespirationRate}}</div>
    </div>

    <div class="item" style="text-align:center;  line-height: 150%; font-size: 13px;">
        Temperature
        <div class="temperature" style="line-height: 90%;"> {{Temperature}}</div>
    </div>

    <div class="item" style="text-align:center;" *ngIf="MotionStatus==0 else not0">
        <mat-icon class="motion" style="color: skyblue;" >hotel</mat-icon>
    </div>
    <ng-template #not0>
        <div class="item" style="text-align:center">
            <mat-icon class="motion">hotel</mat-icon>
        </div>
    </ng-template>

    <div class="item" style="text-align:center;" *ngIf="MotionStatus==1 else not1">
        <mat-icon class="motion" style="color: skyblue;">accessibility</mat-icon>
    </div>
    <ng-template #not1>
        <div class="item" style="text-align:center">
            <mat-icon class="motion">accessibility</mat-icon>
        </div>
    </ng-template>

    <div class="item" style="text-align:center;" *ngIf="MotionStatus==2 else not2">
        <mat-icon class="motion" style="color: skyblue;">directions_walk</mat-icon>
    </div>
    <ng-template #not2>
        <div class="item" style="text-align:center"> 
            <mat-icon class="motion">directions_walk</mat-icon>
        </div>
    </ng-template>

    <div class="item" style="text-align:center;" *ngIf="MotionStatus==3 else not3">
        <mat-icon class="motion" style="color: skyblue;">directions_run</mat-icon>
    </div>
    <ng-template #not3>
        <div class="item" style="text-align:center">
            <mat-icon class="motion">directions_run</mat-icon>
        </div>
    </ng-template>
</div>
