<svg class="ecg-history1" (mouseover)="datas=ecgData1;" width=2000px height=125px  style="border-style: solid;" ></svg>
<svg class="ecg-history2" (mouseover)="datas=ecgData2" width=2000px height=125px  style="border-style: solid;" ></svg>
<svg class="ecg-history3" (mouseover)="datas=ecgData3" width=2000px height=125px  style="border-style: solid;" ></svg>
<svg class="ecg-history4" (mouseover)="datas=ecgData4" width=2000px height=125px  style="border-style: solid;" ></svg>
<svg class="ecg-history5" (mouseover)="datas=ecgData5" width=2000px height=125px  style="border-style: solid;" ></svg>
